@import url('./assets/css/reset.css');
@import url('./assets/css/header.css');
@import url('./assets/css/about.css');
@import url('./assets/css/bannerCarousel.css');
@import url('./assets/css/button.css');
@import url('./assets/css/pointer.css');
@import url('./assets/css/services.css');
@import url('./assets/css/projects.css');
@import url('./assets/css/team.css');
@import url('./assets/css/clients.css');
@import url('./assets/css/companies.css');
@import url('./assets/css/price.css');

.default {
    padding: 50px 0;
}
.default .section_title, .default .section_desc {
    text-align: center;   
    text-transform: uppercase;
    font-weight: 600;
}

.default .section_title {  
    font-size: 24px;
    margin-bottom: 10px;
}

.default .section_desc {
    font-size: 12px;
    color: #cccccc;
}
.default .section_body {
    max-width: 1140px;
    margin: auto;
    margin-bottom: 40px;
}

.default.light {
    background-color: F7F7F7;
}

.default.light .section_title, .default.light .section_body {
    color: #000000
}

.default.dark {
    background-color: #000000;
}

.default.dark .section_title, .default.dark .section_body {
    color: #FFFFFF
}
