.banner {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    height: calc(100vh - 100px);
    background-position: bottom;
    overflow: hidden; 
}

.banner .sliders {
    width: 1000vw;
    height:100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
   
}

.banner h1, .banner h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
}

.banner h2  {    
    color: #B28756;
    font-size: 56px;
    margin-top: -10px;
}

.banner h2 .slader2 {
    text-align: center;
}

.banner p {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20px;
}

.banner .silers_pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 10px;  
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}